h1{
	background-color:#52A488;
	color:white;
	padding-left: 10px;
}

body {

	background-color: #D1F0E6;
	font-size: 20px;
	font-family:serif;
	
}

.done {
	text-decoration: line-through; 
	color:gray;

}


